[flake8]
ignore = E501, W503
max-line-length = 80
max-complexity = 18
per-file-ignores =
    */__init__.py:F401,F403,D104
select = B,C,D,E,F,H,T,U100,W,B9
unused-arguments-ignore-variadic-names = true
unused-arguments-ignore-stub-functions = true
unused-arguments-ignore-abstract-functions = true
